.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
src/lib/types/index.d.ts
src/lib/types/index.js
static/tinymce/
src/wasm_exec.js
