{
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 160,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "svelteStrictMode": false,
  "trailingComma": "none",
  "useTabs": false,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
